@import "wiki.colors.css";

body {
    background-color: var(--bg-light);
    color: var(--txt-light);
}

.modal-content {
    background-color: var(--bg-modal-light);
    color: var(--txt-light);
}

blockquote {
    padding: 5px 50px;
    margin-left: 0px;
    border-left: 4px solid var(--quotes-color);
    background-color: var(--bg-codeblock-light);
}

blockquote p{
    margin-top:10px;
    font-weight: 300;
}

code, pre {
    font-family: monospace;
    background-color: var(--bg-codeblock-light);
    color: #800;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px
}

pre {
    background-color: var(--bg-codeblock-light);
    padding: 6px;
    border-radius: 6px;
    position: relative;
}

pre img {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 0.15rem;
  cursor: pointer;
  display: inline;
}

img {
    max-width: 100%
}

figure {
    text-align: center
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.hljs {
    background-color: var(--bg-codeblock-light);
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

td {
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

h1{
    font-size: 2em;
    font-family: "quicksand";
}

h1.title{
    font-size: 2.5em;
    font-family: "Helvetica";
}

h2 {
    font-size: 1.8em;
    font-family: "quicksand";
}

h3 {
    font-size: 1.5em;
    font-family: "quicksand";
}


h4{
    font-size: 1.3em;
    font-family: "quicksand";
}


.alert i[class^="bi-"]{
    font-size: 1.5em;
    line-height: 1;
    margin-right: 10px;
  }

div.html-integration{
  background-color: var(--html-integration-background-light);
  padding: 20px;
}


.mermaid {
    text-align: center;
}

.footnote-back {
    margin-left: 0.5em;
}

/* Add a little external icon after external links. */
a[href^="//"]::after,
a[href^="http://"]::after,
a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
